<aside id="sidebar" class="sidebar sidebar-default" ng-class="{'open' : isSideBarOpen}" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover flex-column" style="padding-left:20px; padding-right: 20px; align-items:flex-start; justify-content:space-between; background-color: #11b2b2">
        <!-- Top bar -->
        <!-- Sidebar toggle button -->
        <div style="flex: 60">
            <h3>АРМ ГУП</h1>
        </div>
        <!-- Sidebar brand name -->
        <div class="flex-row" style="flex:40">
            <h5 style="width:50%">
                Константинопольский Константин Константинович
            </h5>
            <b class="caret"></b>
        </div>
    </div>

    <ul class="nav sidebar-nav">
        <li ng-repeat="button in sideBar.sections[0]">
            <a href="{{button.href}}">
                {{button.name}}
            </a>
        </li>
        <li class="divider"></li>
        <li ng-repeat="button in sideBar.sections[1]">
            <a href="{{button.href}}">
                {{button.name}}
            </a>
        </li>

    </ul>
</aside>